* {  /* basic browser reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px
}

header, main, h1, h2, h3, nav, p, ul, a, article, div, footer, section {
    font-family: "Helvetica", "Arial", "sans-serif";
    width: auto;
    /* margin-left: auto;  */
    /* margin-right: auto; */
}

header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    margin: 0, auto;
    z-index: 1;
}

Header {
    background-color: lightgray;
}

h1{
    text-align: center;
    font-size: 26px;
    padding-top: 4px;
    padding-bottom: 4px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    padding-top: 4px;
    padding-bottom: 4px;
}

nav ul li {
    display: inline-block;
    text-align: left;
}

.section-links a {
    text-decoration: none; 
    line-height: 20px;
    /* provide space between items */
    margin-right: 4px;
    margin-left: 4px;
    /* also provide some padding so that highlight block on hover is slightly larger than text */
    padding-right: 4px;
    padding-left: 4px;
}

.social-media-links a {
    margin-right: 8px
}

.section-links a:hover, .page-nav ul li a:focus, .page-nav ul li a:active {
    background-color: rgb(0, 12, 175);
    color:#fff;
}

/* styling for social media links */

.social-media-links .fab {
    color: rgba(50, 50, 50, 1);
    font-size: 20px;
    vertical-align: sub;    
}

.social-media-links a:hover .fab,
.social-media-links a:focus .fab,
.social-media-links a:active .fab {
    background-color: lightblue;
    color: rgba(50, 50, 50, 0.5)
}

/* styling for main section and flexbox */

main {
    /* Leave space for fixed header, nav bar and footer. */
    padding-top: 72px;
    padding-bottom: 26px;
    /*small left and right space off edge of screen */
    margin-left: 6px;
    margin-right: 6px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Flex items. */
.flex-item {
    display: block;
    width: 100%
}

/* styling for other page elements */

section {
    line-height: 20px;
}

h2{
    text-align: center;
    font-size: 22px;
    margin-top: 22px;
    margin-bottom: 11px;
}

section ul{
    /* This gives the padding required for the bullet points */
    padding-left: 16px
}

section li {
    margin-top: 4px;
    margin-bottom: 4px;
}

h3 {
    text-align: left;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 9px;
}

h4 {
    text-align: left;
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 8px;
}

footer{
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0, auto;
    z-index: 1;
    background-color: lightgray;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}

/* this is used to prevent the ARIA tooltips from displaying.
They are just spoken when a screen reader is being used. */
label span{
    display: none;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
    /* End of text only for screen reader */

    /* Tablet */
@media screen and (min-width: 768px) {

    main {
        margin-left: 16px;
        margin-right:16px;
    }

    .item-4, .item-5, .item-6, .item-7 {
        width: calc( 50% -  24px);
    }

    .item-9, .item-10 {
        width: calc( 50% -  24px );
    }

}

/* Desktop */
@media screen and (min-width: 1200px) {

    main {
        margin-left: 32px;
        margin-right:32px;
    }

    .item-4, .item-5, .item-6, .item-7 {
        width: calc( 25% - 36px);
    }

    .item-9, .item-10 {
        width: calc( 50% - 24px);
    }

}