header{
    width: auto;
    max-width: 800px;
    margin-left: auto; 
    margin-right: auto;
    background-color: lightgray;
}

h1{
    font-family: "Helvetica", "Arial", "sans-serif";
    text-align: center;
    font-size: 24pt
}

.page-nav{
    width: auto;
    max-width: 800px;
    background-color: lightblue;
    margin: 16px auto;
}

.page-nav ul{
    text-align: center;
    padding: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none; 
    display: inline-block;
    padding: 16px 32px;
}

.page-nav ul li a:hover, .page-nav ul ul li a:focus, .page-nav ul ul li a:active{
    background-color: rgb(21, 0, 139);
    color:#fff;
}

.section-nav{
    text-align: left;
}

.section-nav a{
    color: red;
    padding: 16px 16px;
}

.section-nav ul li a:hover, .section-nav ul li a:focus, .section-nav ul li a:active{
    text-decoration-line: underline;
}

h2{
    text-align: center;
    font-size: 16pt;
}

h3{
    text-align: left;
    font-size: 12pt;
}

article{
    width: auto;
    max-width: 800px;
    margin-left: auto; 
    margin-right: auto;
    padding: 16px;
    font-family: "Helvetica", "Arial", "sans-serif";
}

footer{
    width: auto;
    max-width: 800px;
    margin-left: auto; 
    margin-right: auto;
    background-color: lightgray;
}

form{
    width: auto;
    max-width: 600px;
    margin-left: auto; 
    margin-right: auto;
    padding: 16px;
    font-family: "Helvetica", "Arial", "sans-serif";
}

div{
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

div label {
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

#text-message {
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
}

label span{
    display:none;
}

#sub-button {
    margin-left: 16px;
    letter-spacing: 2pt;
    height: 48px;
    font-size: 16pt; 
}
