* {  /* basic browser reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px
}

header, main, h1, h2, h3, nav, p, ul, a, article, div, footer, section {
    font-family: "Helvetica", "Arial", "sans-serif";
    width: auto;
    /* max-width: 800px; */
    margin-left: auto; 
    margin-right: auto;
}

header, .page-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    margin: 0, auto;
    z-index: 1;
}

Header {
    background-color: lightgray;
}

h1{
    text-align: center;
    font-size: 32px;
    padding-top: 8px;
    Padding-bottom: 8px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none; 
    display: inline-block;
    line-height: 32px;
}

.page-nav{
    background-color: lightblue;
    top: 54px;
}

.page-nav ul{
    text-align: center;
}

.page-nav ul li a {
    padding-right: 16px;
    padding-left: 16px;
}

.page-nav ul li a:hover, .page-nav ul li a:focus, .page-nav ul li a:active {
    background-color: rgb(0, 12, 175);
    color:#fff;
}

#nav-space {
    padding-left: 64px;
    padding-right: 64px;
}

/* styling for social media links */

.social-media-links a:hover,
.social-media-links a:focus,
.social-media-links a:active {
    background-color: lightblue;
}

.social-media-links .fab {
    background-color: lightblue;
    color: rgba(50, 50, 50, 1);
    font-size: 24px;
    margin-left: 16px;
    vertical-align: sub;    
}

.social-media-links a:hover .fab,
.social-media-links a:focus .fab,
.social-media-links a:active .fab {
    background-color: lightblue;
    color: rgba(50, 50, 50, 0.5)
}

/* styling for other page elements */

main {
    /* Leave space for fixed header, nav bar and footer
       Note that have to use padding instead of margins, otherwise page
       is not positioned correctly when back-to-top link moves to start of main */
    padding-top: 76px;
    padding-bottom: 26px;
}

h2{
    text-align: center;
    font-size: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

article ul{
    padding-left: 16px
}

h3 {
    text-align: left;
    font-size: 16px;
    padding-top: 8px;
}

article {
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 20px;
}
article li {
    padding-top: 4px;
    padding-bottom: 4px;
}

footer{
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0, auto;
    z-index: 1;
    background-color: lightgray;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}

/* this is used to prevent the ARIA tooltips from displaying.
They are just spoken when a screen reader is being used. */
label span{
    display: none;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
    /* End of text only for screen reader */
